{% extends "base.html" %} 

{% block main_content %}
<section id="register">
    <h2>Player Register</h2>
    <form method="POST" action="" novalidate>
        {{ form.hidden_tag() }}
        {{ form.user_id.label }}
        {{ form.user_id() }}
        {% for error in form.user_id.errors %}
            {{ error }}
        {% endfor %}
        <br>
        {{ form.password.label }}
        {{ form.password() }}
        {% for error in form.password.errors %}
            {{ error }}
        {% endfor %}
        <br>
        {{ form.password2.label }}
        {{ form.password2() }}
        {% for error in form.password2.errors %}
            {{ error }}
        {% endfor %}
        <br>
        {{ form.submit() }}
        <br>
        <a href="{{ url_for('login') }}">Already have an account? Login here.</a>
    </form>
    <li><a  class="button"  href="{{ url_for('index') }}">Go to Home</a></li>
</section>

{% endblock %}